name: Build

on: [push, pull_request]

permissions:
    contents: read

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [22.x, 24.x]
        steps:
            - uses: actions/checkout@v6
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node-version }}
            - name: Install dependencies
              run: |
                  npm ci
            - name: ESLint
              run: npm run eslint
            - name: Prettier
              run: npm run prettier:check
            - name: Test
              run: |
                  npm run test --ignore-scripts
                  npm run posttest
            - name: Build
              run: npm run --if-present build

    test-windows:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v6
            - name: Use Node.js 24.x
              uses: actions/setup-node@v6
              with:
                  node-version: 24.x
            - name: Install dependencies
              run: npm ci
            - name: Test
              run: |
                  npm run test --ignore-scripts
                  npm run posttest
