name: Release
concurrency: release-${{ github.ref }}

on:
    workflow_dispatch:
    schedule:
        - cron: "0 0 * * 5"

permissions:
    contents: write
    issues: write
    pull-requests: write
    id-token: write

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        env:
            HUSKY: 0
        steps:
            - uses: actions/create-github-app-token@v2
              id: app-token
              with:
                  app-id: ${{ vars.RELEASE_APP_ID }}
                  private-key: ${{ secrets.RELEASE_APP_KEY }}
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0
                  token: ${{ steps.app-token.outputs.token }}
            - name: Use Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 24.x
            - name: Install dependencies
              run: npm ci
            - name: Build
              run: npm run build
            - name: Release
              uses: ./
              with:
                  app-slug: ${{ steps.app-token.outputs.app-slug }}
                  gh-token: ${{ steps.app-token.outputs.token }}
                  skip-install: true
