name: Release
concurrency: release-${{ github.ref }}

on:
    workflow_dispatch:
    schedule:
        - cron: "0 0 * * 5"

permissions:
    contents: write
    issues: write
    pull-requests: write
    id-token: write

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        env:
            HUSKY: 0
        steps:
            - uses: actions/create-github-app-token@v2
              id: app-token
              with:
                  app-id: ${{ vars.RELEASE_APP_ID }}
                  private-key: ${{ secrets.RELEASE_APP_KEY }}
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0
                  token: ${{ steps.app-token.outputs.token }}
            - name: Get GitHub App User ID
              id: get-user-id
              run: echo "user-id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
              env:
                  GH_TOKEN: ${{ steps.app-token.outputs.token }}
            - name: Set Git author
              run: |
                  echo "GIT_AUTHOR_NAME=${{ steps.app-token.outputs.app-slug }}[bot]" | tee -a $GITHUB_ENV
                  echo "GIT_AUTHOR_EMAIL=${{ steps.get-user-id.outputs.user-id }}+${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com" | tee -a $GITHUB_ENV
            - name: Use Node.js 24.x
              uses: actions/setup-node@v6
              with:
                  node-version: 24.x
            - name: Install dependencies
              run: npm ci
            - name: Build
              run: npm run build
            - name: Release
              env:
                  GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
              run: |
                  npm config --location project set access public
                  npm config --location project set provenance true
                  npm exec semantic-release
